.sp-dropdown {
  border-bottom: 1px solid #ececec;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// .pm-header {
//   border-bottom: 1px solid #ececec;
//   padding: 15px;
//   display: flex;
//   justify-content: space-between;
//   align-items: baseline;
//   position: relative;
//   z-index: 10;
//   background-color: white;
//   border-bottom-left-radius: 4px;
//   border-bottom-right-radius: 4px;
// }

// .pm-title {
//   margin-left: 10px;
//   font-size: 14px;
//   font-weight: 600;
// }

// .pm-no-cost {
//   font-size: 14px;
//   color: grey;
// }

// .pm-dropdown {
//   width: 468px;
//   padding: 15px;
//   border-radius: 4px;
//   border-top-left-radius: 0px;
//   border-top-right-radius: 0px;
//   background-color: #fafafa;
//   max-height: 0;
//   opacity: 0;
//   transition: max-height 0.4s ease-out;
//   position: absolute;
//   div {
//     font-size: 14px;
//   }
// }

// .pm-info {
//   font-size: 14px;
// }

// .pm-timeline {
//   width: 400px;
//   margin: 5px auto;
// }

// .first-pm-payment,
// .second-pm-payment,
// .last-pm-payment {
//   width: 100px;
//   text-align: center;
// }

// .timeline-payment {
//   display: flex;
//   justify-content: space-between;
//   width: 420px;
//   margin: 0 auto;
// }
// .timeline-months {
//   display: flex;
//   justify-content: space-between;
//   width: 420px;
//   margin: 0 auto;
//   margin-top: 20px;
// }

// .pm-selected {
//   opacity: 1;
//   max-height: 300px;
//   position: relative;
//   overflow: hidden;
// }
